@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
	background-color: black;
}
.outer-container-airbn{
	width:25%;
	margin-left: 20px;
	/* border: 2px groove white; */
	padding: 5px 12px;
	margin-bottom: 10px;
	animation-name: demo;
	animation-duration: 1s;
	/* animation-iteration-count: infinite; */
}
.airbnb-img{
	width: 100%;
	border-radius: 12px;
}
.airbn-flex{
	display: flex;
	/* flex-grow: 4; */
	justify-content: space-between;
	color: white;
	/* align-items: center; */
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	/* flex-wrap: wrap; */
}
.center{
	/* height: 100vh; */
	align-items: center;
}
.airbn-button{
	background-color: tomato;
	color: white;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
}
.deco{
	text-decoration: none;
	margin: 0px 10px;
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	/* font-size: 24px; */
	font-weight: bolder;
}
.nav-link{
	list-style-type: none;
	display: flex;
}
.airbnnav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.style-logo{
	font-size: 50px;
	font-weight: bolder;
	font-family: 'Bebas Neue', cursive;
	text-transform: capitalize;
	letter-spacing: 8px;
}
.blow-text{
	font-size: 20px;
}
.flex-footer{
	display: flex;
}
.footer-airbn{
	display: flex;
	justify-content: space-between;
}
.f-s{
	font-size: 30px;
}

@keyframes demo {
	to{
		margin-top: 10px;

	}
}
@media(max-width:500px)
{
	.outer-container-airbn{
	width:70%;
	margin-left: 20px;
	padding: 5px 12px;
}
.deco{
	text-decoration: none;
	margin: 0px 0px;
	font-size: 12px;
	color: white;
	/* letter-spacing: 2px; */
	/* font-size: 24px; */
	font-weight: bold;
}
.airbnb-img{
	width: 100%;
}
.airbn-flex{
	display: flex;
	color: white;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.blow-text{
	font-size: 7px;
}
.f-s{
	font-size: 10px;
}
.footer-airbn{
	display: flex;
	flex-wrap: wrap;
}
.style-logo{
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Bebas Neue', cursive;
	text-transform: capitalize;
	letter-spacing: none;
}
}
@media(min-width:500px)
{
	.outer-container-airbn{
	width:40%;
	margin-left: 10px;
	padding: 5px 7px;
}
.airbn-flex{
	display: flex;
	color: white;
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	flex-wrap: wrap;
}.blow-text{
	font-size: 15px;
}
.f-s{
	font-size: 20px;
}
.footer-airbn{
	display: flex;
	flex-wrap: wrap;
}
.style-logo{
	font-size: 20px;
	
}
}
@media(min-width:900px)
{
	
.outer-container-airbn{
	width:20%;
}

.deco{
	text-decoration: none;
	margin: 0px 10px;
	letter-spacing: 2px;
}
.style-logo{
	font-size: 50px;
	font-weight: bolder;
	font-family: 'Bebas Neue', cursive;
	text-transform: capitalize;
	letter-spacing: 8px;
}


.blow-text{
	font-size: 20px;
}

.f-s{
	font-size: 30px;
}
}
