@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.outer-container-airbn{
	width:25%;
	margin-left: 20px;
	/* border: 2px groove white; */
	padding: 5px 12px;
	margin-bottom: 10px;
}
.airbnb-img{
	width: 100%;
	border-radius: 12px;
}
.airbn-flex{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	flex-direction: row;
	align-items: center;
	margin-top: 40px;
	/* flex-wrap: wrap; */
}
.center{
	/* height: 100vh; */
	align-items: center;
}
.airbn-button{
	background-color: black;
	color: white;
	border-radius: 20px;
	padding: 10px;
	width: 100%;
}
.deco{
	text-decoration: none;
	margin: 0px 10px;
	/* font-size: 25px; */
	color: black;
	/* font-size: 24px; */
	/* font-weight: bolder; */
}
.nav-link{
	list-style-type: none;
	display: flex;
}
.airbnnav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.style-logo{
	font-size: 50px;
	font-weight: bolder;
	font-family: 'Bebas Neue', cursive;
	text-transform: capitalize;
	letter-spacing: 4px;
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.blow-text{
	font-size: 20px;
}
.flex-footer{
	display: flex;
}
.footer-airbn{
	display: flex;
	justify-content: space-between;
}
.f-s{
	font-size: 30px;
}
